* {
  /*
    Property name
    Property description
  */
    /* Property example with a value */
  }

/*
  border is used to style the side of the character.
  border {
  border: 0.5rem solid;
}
*/

/*
  margin is the side of the elements which is followed by the border.
  margin {
  margin: 4px;
}
*/

/*
  padding is to make the space in an element.
  padding {
  padding: 5rem;
}
*/

/*
  display is the way it looks.
  display {
  display: flex;
}
*/

/*
  box-sizing is the size of the elements which is not always the same as the border but also it can be bigger.
  box-sizing {
  box-sizing: border-box;
}
*/

/*#boxes {
  background-color: indianred;
  border: dashed black;
  width: 400px;
  height: 300px;
}
*/

html {
  background: linear-gradient( #ade3fa, #eeeac6, #d7eec6, #f7bd80);
  background-size: auto;
  text-align: center;
  display: inline-block;
}

#conclusion {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: teal;
  display: flex;
}

.box {
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

strong {
  color: rgb(3, 3, 94);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-style: normal;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}



#boxes {
  border: dashed blue;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  text-align: left;
  background-color: rgb(240, 166, 166);
  max-width: 400px;
  margin-left: 10px;
  background-size: auto;
  margin: auto;
}

.border {
  border: 0.5px solid;
  padding: 1rem;
  background-color: rgb(240, 159, 182);
  position: relative;
  width: auto;
  margin: auto;
}

.padding {
  border: 0.5px solid brown;
  padding: 2rem;
  background-color: rgba(87, 172, 18, 0.5);
  position: relative;
  margin: auto;
}

.display {
  border: 0.5px solid gray;
  padding: 2rem;
  background-color: rgb(56, 185, 228);
  position: relative;
  text-align: center;
  margin: auto;
}


