:root {
  --primary-colour: #00c;
  --secondary-colour: #555;
  --inverse-colour: #fff;
  --container-max-width: 40rem;
  --nav-font-size: 1rem;
  --nav-tab-vertical-padding: 0.75rem;
  --nav-tab-horizontal-padding: 1.25rem;
  --nav-tab-gap: 0.25rem;
  --nav-tab-radius-amount: 0.5rem;
  --nav-active-font-size: 1.25rem;
  --nav-active-tab-vertical-padding: 1rem;
  --nav-active-tab-horizontal-padding: 2rem;
  --article-padding: 1rem;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 0;
}

.navigation__list-item--link--active-mode {
  flex-grow: 1;
  justify-self: stretch;
}


.navigation__list-item {
  list-style: none;
  margin: 0;
}
.navigation__list-item--link {
  flex-grow: 1;
  vertical-align: middle;
  text-decoration: none;
  color: var(--inverse-colour);
  padding-inline-start: calc(var(--nav-tab-horizontal-padding) * 2);
  padding-inline-end: calc(var(--nav-tab-horizontal-padding) * 2);
  padding-block-start: var(--nav-tab-vertical-padding);
  padding-block-end: var(--nav-tab-vertical-padding);
  background-color: var(--secondary-colour);
  border-top-left-radius: var(--nav-tab-radius-amount);
  border-top-right-radius: var(--nav-tab-radius-amount);
  margin-inline-end: var(--nav-tab-gap);
  margin-inline-start: auto;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navigation__list-item--link--active-mode {
  padding-inline-start: var(--nav-active-tab-horizontal-padding);
  padding-inline-end: var(--nav-active-tab-horizontal-padding);
  padding-block-start: var(--nav-active-tab-vertical-padding);
  padding-block-end: var(--nav-active-tab-vertical-padding);
  background-color: var(--primary-colour);
  font-size: var(--nav-active-font-size);
}

.article-search-result {
  max-width: var(--container-max-width);
  background-color: var(--primary-colour);
  color: var(--inverse-colour);
  padding-inline-start: var(--article-padding);
  padding-inline-end: var(--article-padding);
  padding-block-start: var(--article-padding);
  padding-block-end: var(--article-padding);
}

.article-search-result_heading {
  margin: auto;
}
