.about {
  display: grid;
  grid-template-columns: repeat(var(--num-columns), var(--column-width));
  column-gap: var(--column-gap);
}


.about img {
  margin-block-start: 20px;
  grid-area: 1/2/1/4;
}

.about .about_description {
  grid-area: 1/4/1/7;
}
