body > header {
  display: grid;
  grid-template-columns: repeat(var(--num-columns), var(--column-width));
  grid-column-gap: var(--column-gap);
  align-items: end;
}

body > header h1 {
  border-block-end: 1px solid #4d4d4d;
}

body > header a {
  display: block;
  color: #ccc;
  font-weight: 700;
  text-decoration: none;
  padding: 0.75rem 0;
}

body > header a:hover {
  color: #fff18f;
  font-weight: 700;
}

body > header nav {
  font-size: 1rem;
  grid-column: 2 / 7;
}

body > header h1 {
  font-size: 1.25rem;
}

body > header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(calc(var(--num-columns) - 1), var(--column-width));
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

body > header li {
  border-block-end: 1px solid #4d4d4d;
}

