:root {
  --article-bg-transparency: 0.5;
}

/* Setup */
.example > article {
  font-weight: 700;
  text-align: center;
}

.example > article > * {
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
  color: #fff;
  padding: 1rem;
}

.example > article > * * {
  margin: 0;
  background-color: inherit;
  line-height: 1;
  padding: 1rem;
}

.example > article > header {
  --article-elem-color: 63, 63, 191;
}

.example > article > header > h2 {
  font-size: 1rem;
}

.example > article > .content {
  --article-elem-color: 63, 191, 63;
}

.example > article > footer {
  --article-elem-color: 191, 63, 63;
}

/* 1 */


[data-example="1"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[data-example="1"] header {
  display: flex;
  justify-content: center;
}

[data-example="1"] .content {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
}

[data-example="1"] footer {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
}


/* 2 */


[data-example="2"] article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}

[data-example="2"] header h2 {
  display: inline-block;
  vertical-align: middle;
}

[data-example="2"] .content p {
  display: inline-block;
  vertical-align: middle;
}

[data-example="2"] footer p {
  display: inline-block;
  vertical-align: middle;
}


/* 3 */
[data-example="3"] article {
  display: block;
}

[data-example="3"] header h2 {
  display: inline-block;
  vertical-align: middle;

}

[data-example="3"] .content {
  margin-block-start: 1rem;
}

[data-example="3"] .content p {
  display: inline-block;
  vertical-align: middle;
}

[data-example="3"] footer {
  margin-block-start: 1rem;
}


[data-example="3"] footer p {
  display: inline-block;
  vertical-align: middle;
}
