/* Set up */
.centred {
  background-color: rgba(223, 127, 31, 0.5);
  padding: 1rem;
  color: #fff;
  font-weight: bold;
}

.centred > * {
  margin: 0;
  background-color: inherit;
  padding: 1rem;
}

/* 4 */

[data-example="4"] > .centred {
  transform: translateY(50%);
}

[data-example="4"] p {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}




/* 5 */
[data-example="5"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[data-example="5"] .centred {
  display: flex;
  justify-content: center;

}

/* 6 */
[data-example="6"] div {
  display: block;
  margin-block-start: 2rem;

}

[data-example="6"] p {
  display: inline-block;
  vertical-align: center;
  margin-inline-end: 2rem;
}
