section:nth-of-type(2) .container img {
  float: left;
  margin-inline-end: 0.8rem;
  width: 250px;
}

section:nth-of-type(2) .container .doctor_claw {
  float: left;
  clear: both;
}


section:nth-of-type(2) .container p {
  overflow: auto;
}
