section:last-of-type .example header {
  float: left;
  line-height: 36px;
  margin-block-end: 2rem;
  padding: 0;
}

section:last-of-type .example header h3 {
  margin: 0;
}

section:last-of-type .form_toolbar {
  float: right;
  text-align: right;
}

.form_row {
  clear: both;
}

section:last-of-type .form_row .field {
  margin-block-end: 1rem;
}

section:last-of-type .form_row label {
  float: left;
  width: 9rem;
  text-align: right;
  line-height: 2rem;
  margin-inline-end: 1rem;
}

section:last-of-type .form_row.form_actions {
  margin-inline-start: 10rem;
}

