/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  --base-opacity: 0.1;
  --base-hue: 36deg;
}

#c_and_i .row a:nth-of-type(1) {
  --alpha: var(--base-opacity);
}
#c_and_i .row a:nth-of-type(2) {
  --alpha: calc(var(--base-opacity) * 2);
}
#c_and_i .row a:nth-of-type(3) {
  --alpha: calc(var(--base-opacity) * 3);
}
#c_and_i .row a:nth-of-type(4) {
  --alpha: calc(var(--base-opacity) * 4);
}
#c_and_i .row a:nth-of-type(5) {
  --alpha: calc(var(--base-opacity) * 5);
}
#c_and_i .row a:nth-of-type(6) {
  --alpha: calc(var(--base-opacity) * 6);
}
#c_and_i .row a:nth-of-type(7) {
  --alpha: calc(var(--base-opacity) * 7);
}
#c_and_i .row a:nth-of-type(8) {
  --alpha: calc(var(--base-opacity) * 8);
}
#c_and_i .row a:nth-of-type(9) {
  --alpha: calc(var(--base-opacity) * 9);
}
#c_and_i .row a:nth-of-type(10) {
  --alpha: calc(var(--base-opacity) * 10);
}

.row a {
  background-color: hsla(var(--hue), 100%, 50%, var(--alpha));
}


#c_and_i .row:nth-of-type(1) {
  --hue: var(--base-hue);
}

.row:nth-of-type(2) {
  --hue: calc(var(--base-hue) * 2);
}

.row:nth-of-type(3) {
  --hue: calc(var(--base-hue) * 3);
}
.row:nth-of-type(4) {
  --hue: calc(var(--base-hue) * 4);
}
.row:nth-of-type(5) {
  --hue: calc(var(--base-hue) * 5);
}
.row:nth-of-type(6) {
  --hue: calc(var(--base-hue) * 6);
}
.row:nth-of-type(7) {
  --hue: calc(var(--base-hue) * 7);
}
.row:nth-of-type(8) {
  --hue: calc(var(--base-hue) * 8);
}
.row:nth-of-type(9) {
  --hue: calc(var(--base-hue) * 9);
}
.row:nth-of-type(10) {
  --hue: calc(var(--base-hue) * 10);
}
