/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  --base-opacity: 0.1;
  --base-hue: 36deg;
  --base-saturation: 100%;
  --base-lightness: 50%;
}

#c_and_i .row a:nth-of-type(1)  {--alpha-multiplier: 1;}
#c_and_i .row a:nth-of-type(2)  {--alpha-multiplier: 2;}
#c_and_i .row a:nth-of-type(3)  {--alpha-multiplier: 3;}
#c_and_i .row a:nth-of-type(4)  {--alpha-multiplier: 4;}
#c_and_i .row a:nth-of-type(5)  {--alpha-multiplier: 5;}
#c_and_i .row a:nth-of-type(6)  {--alpha-multiplier: 6;}
#c_and_i .row a:nth-of-type(7)  {--alpha-multiplier: 7;}
#c_and_i .row a:nth-of-type(8)  {--alpha-multiplier: 8;}
#c_and_i .row a:nth-of-type(9)  {--alpha-multiplier: 9;}
#c_and_i .row a:nth-of-type(10) {--alpha-multiplier: 10;}


#c_and_i .row:nth-of-type(1)  {--hue-multiplier: 1;}
#c_and_i .row:nth-of-type(2)  {--hue-multiplier: 2;}
#c_and_i .row:nth-of-type(3)  {--hue-multiplier: 3;}
#c_and_i .row:nth-of-type(4)  {--hue-multiplier: 4;}
#c_and_i .row:nth-of-type(5)  {--hue-multiplier: 5;}
#c_and_i .row:nth-of-type(6)  {--hue-multiplier: 6;}
#c_and_i .row:nth-of-type(7)  {--hue-multiplier: 7;}
#c_and_i .row:nth-of-type(8)  {--hue-multiplier: 8;}
#c_and_i .row:nth-of-type(9)  {--hue-multiplier: 9;}
#c_and_i .row:nth-of-type(10) {--hue-multiplier: 10;}

.row a {
  --hue: calc(var(--hue-multiplier) * var(--base-hue));
  --alpha: calc(var(--alpha-multiplier) * var(--base-opacity));


  background-color: hsla(
    var(--hue),
    var(--base-saturation),
    var(--base-lightness),
    var(--alpha)
    );
}
