ul li {
  list-style: none;
}

ul > li a {
  text-decoration: none;
}

.dropdown_contents {
  display: none;
}

input[type="checkbox"]:checked ~ .dropdown_contents {
  display: block;
}

.dropdown::after {
  content: "▼";
}
