.icon {
  padding: 1rem;
  background-color: rgb(173, 237, 241);
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  border-radius: 5%;
  display: inline-block;
}

.icon.icon_left {
  position: relative;
  padding-inline-start: 3rem;
}

.icon.icon_left::before {
  background-image: url('../../12-page-mockup/images/icon-facebook.png');
  content: " ";
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  left: 0.75rem;
  top: 1.5rem;
}

.icon.icon_right {
  position: relative;
  padding-inline-end: 3rem;
}

.icon.icon_right::after{
  background-image: url('../../12-page-mockup/images/icon-facebook.png');
  content: " ";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.75rem;
  top: 1rem;
}


