/*h1 {
  text-align: start;
  margin: 1rem;
}

header a {
  color: white;
  font-size: small;
}
*/

/*.lost_in_madagascar {

}*/
/*
header div {
  text-align: end;
  margin-inline-end: 1rem;
  margin-block-start: -2rem;
  display: block;
  text-transform: uppercase;
  font-size: small;
}

header a:first-of-type {
  margin-inline-end: 2rem;
}

header a:nth-of-type(2) {
  margin-inline-end: 2rem;
}

header a:nth-of-type(3) {
  margin-inline-end: 2rem;
}

header a:last-of-type {
  margin-inline-end: 2rem;
}

header .lost {
  margin-block-start: 7rem;
}

header {
  border-bottom: 1px solid;
}
*/

body > header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-block-start: 2rem;
}

body header h1 {
  text-align: block-start;
}
