body > header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-block-start: 2rem;
  width: auto;
  height: auto;
}

body header h1 {
  text-align: block-start;
  margin-block-start: -2rem;
  margin-inline-start: 2rem;
}

body header h1 a {
  color: white;
  font-size: 2rem;

}

body nav ul {
  text-align: inline-end;
  margin-inline-end: 1rem;
  padding-block-start: -20rem;
  margin-block-start: -2.5rem;
}
