main {
  text-align: center start;
  margin-inline-start: 5rem;
  margin-inline-end: 5rem;
}

h3 a {
  color: black;
  font-size: 2rem;
}

main div {
  margin-block-start: 2rem;
  margin-inline-start: 9rem;
  margin-inline-end: 20rem;
}
