h1 {
  margin-inline-start: 2rem;
}

img {
  float: left;
  display: block;
  clear: both;
  width: 7rem;
  height: 7rem;
}

li > ul li {
  margin-inline-start: 4rem;
}

body {
  font-size: 1.5rem;
}

