/* Styles for all mediums go here */
@media all {


}

/* Only styles for printers please */
@media print {
  a::after {
    content: " [" attr(href) "]";
  }

abbr::after {
  content: " [" attr(title) "]";
  word-break: break-word;
}
blockquote::after {
  content: " [" attr(cite) "]";
}
}
