#section_sans_serif {
  font-family: Garamond, sans-serif;
}

#section_serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#section_monospace {
  font-family: monospace;
}
#section_fantasy {
  font-family: Papyrus, fantasy ;
}

#section_cursive {
  font-family: cursive;
}

.example * {
  margin: 1em;
}

.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  font-weight: 700;
}

.example h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.example h2 {
  font-size: 2rem;
}

.example h3 {
  font-size: 1.5rem;
}

.example h4 {
  font-size: 1.25rem;
}

.example h5 {
  font-size: 1rem;
}

.example h6 {
  font-size: 1rem;
  font-variant-ligatures: small-caps;
}

.example .intro,
.example p,
.example p small {
  font-weight: 400;
  margin-block-end: 1em;
}

.example .intro {
  font-size: 1.125rem;
  letter-spacing: 0.1em;
}

.example p {
  font-size: 1rem;
}

.example p small {
  font-size: 0.75rem;
}
