body > header {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


body > header h1 {
  margin: 0;
  font-size: 2rem;
  margin-inline-start: 2rem;
}

body > header a {
  color: inherit;
  text-decoration: none;
}
