main > header {
  background-image:
    linear-gradient(rgba(0,0,0,.4) 0%, rgba(0,0,0,.4) 100%),
    url(../images/bg_desktop.jpg);
  background-size:
    cover,
    cover;
  background-position:
    50% 50%,
    50% 50%;
  color: #fff;
  padding: 4rem 0;
  box-sizing: border-box;
  min-height: 30rem;
}

main > header > h2 {
  font-size: 4rem;
  margin: 0;
}

main > header > p {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  z-index: 2;
}

main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: -11rem;
}

@media (min-width: 400px) {
  main header{
    margin-block-start: -5.5rem;
  }
}
