
.dory {
  background-image: url("../images/dory.png");
  background-image: radial-gradient(#e66465, #9198e5);
  background-color: rgba(13, 124, 150, 5);
  background-image: url("../images/coral-reef.png"), url("../images/bubble.png"), url("../images/crab.png");
  background-repeat: no-repeat;
  background-position: center, center top, right;
  background-size: 30, 1, 0.5px;

}


.henry {
  background-image: url("../images/big-bird.png");
  background-image: radial-gradient(#e66465, #a9e591);
  background-color: lightskyblue;
  background-image: url("../images/grass-clump.png"), url("../images/grass-tile.png"), url("../images/grass-left.png"), url("../images/sun.png");
  background-repeat: no-repeat;
  background-position: center, center bottom, center bottom , top left;
  background-size: 10, 6, 5, 2;
}

.lu-seal {
  background-image: url("../images/lu-seal.png");
  background-image: radial-gradient(#e66465, #b2c4a85b);
  background-color: rgb(171, 206, 230);
  background-image: url("../images/palm-2.png"), url("../images/palm.png"), url("../images/beach-ball.png");
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-position: left, right, center top;
  background-size: 20, 30, 1;
}

