#overflow_invisible .example {
  overflow: hidden;
  display: flow-root;
}

#overflow_scroll .example {
  overflow: scroll;
  display: flow-root;
}

#clipping_circle .example {
  clip-path: circle(10% at 64.5% 25%);
}

#clipping_poly .example {
  clip-path: polygon(41% 37%, 95% 100%, 86% 28%);
}

#overclip .example {
  overflow: hidden;
  clip-path: circle(40% at 50% 50%);
}

#overflow_ellipsis .example {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
