section:nth-of-type(3) .container {
  height: 200px;
}

section:nth-of-type(3) .container svg {
  position: absolute;
  overflow: auto;
  z-index: auto;
}

section:nth-of-type(3) .container .circle {
  position: relative;
  width: 100%;
  height: auto;
}

section:nth-of-type(3) .container .rect {
  left: 13%;
  width: 100px;
  height: 200px;
}


section:nth-of-type(3) .container .bar {
  left: 13%;
  width: 100px;
  height: 200px;
}

section:nth-of-type(3) .container .pipe {
  left: 13%;
  width: 100px;
  height: 200px;
}

