section:nth-of-type(3) .container {
  height: 200px;
  width: 200px;
  position: relative;
}

section:nth-of-type(3) .container .rect {
  position: absolute;
  width: 100px;
  left: 47px;
  top: 43px;
}

section:nth-of-type(3) .container .circle {
  position: absolute;
  width: auto;
}

section:nth-of-type(3) .container .bar {
  position: absolute;
  width: 100px;
  top: 43px;
  left: 47.1px;
}


section:nth-of-type(3) .container .pipe {
  position: absolute;
  width: 100px;
  top: 43px;
  left: 49px;
}


