section:first-of-type .container {
  height: 200px;
}

section:first-of-type .container svg {
  position: relative;
  overflow: auto;
  z-index: auto;
}

section:first-of-type .container .circle {
  width: 50px;
  height: 100px;
  bottom: -63%;
  right: -75%;
}

section:first-of-type .container .rect {
  width: 50px;
  height: 100px;
  top: -13%;
  left: -27%;
}

section:first-of-type .container .pipe {
  width: 50px;
  height: 100px;
  bottom: -63%;
  left: -54%;
}

section:first-of-type .container .bar {
  width: 50px;
  height: 100px;
  top: -64%;
  right: -75%;
}
