section:nth-of-type(2) .container {
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: auto;
}

section:nth-of-type(2) .container .circle:first-of-type {
  position: absolute;
  width: 200px;
  top: -50%;
  right: -50%;
}

section:nth-of-type(2) .container .circle:nth-of-type(2) {
  position: absolute;
  width: 200px;
  top: -50%;
  right: 50%;
}
section:nth-of-type(2) .container .circle:nth-of-type(3) {
  position: absolute;
  width: 200px;
  left: 50%;
  bottom: -50%;
}
section:nth-of-type(2) .container .circle:nth-of-type(4) {
  position: absolute;
  width: 200px;
  left: -50%;
  bottom: -50%;
}
