section:nth-of-type(2) .container {
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: auto;
}

section:nth-of-type(2) .container .circle:first-of-type {
  position: relative;
  width: 200px;
  margin-inline-start: -9rem;
  margin-block-start: -6rem;
  left: 43px;
  top: 1px;
}

section:nth-of-type(2) .container .circle:nth-of-type(2) {
  position: relative;
  width: 200px;
  margin-inline-start: 3rem;
  margin-block-start: -25rem;
  left: 50px;
  top: -19px;
}
section:nth-of-type(2) .container .circle:nth-of-type(3) {
  position: relative;
  width: 200px;
  margin-inline-end: 17rem;
  margin-block-start: 1rem;
  left: 93px;
  top: -40px;
}
section:nth-of-type(2) .container .circle:nth-of-type(4) {
  position: relative;
  width: 200px;
  margin-inline-start: 3.3rem;
  margin-block-start: -20rem;
  right: 158px;
  top: -61px;
}
