section:nth-of-type(2) .container {
  height: 200px;
  overflow: hidden;
}


section:nth-of-type(2) .container svg {
  position: relative;
  overflow: hidden;
  z-index: auto;
}

section:nth-of-type(2) .container .circle:first-of-type {
  position: relative;
  width: 200px;
  margin-inline-start: -9rem;
  margin-block-start: -6rem;
  left: 50px;
}

section:nth-of-type(2) .container .circle:nth-of-type(2) {
  position: relative;
  width: 200px;
  margin-inline-start: 3rem;
  margin-block-start: -25rem;
  left: 50px;
}
section:nth-of-type(2) .container .circle:nth-of-type(3) {
  position: relative;
  width: 200px;
  margin-inline-end: 17rem;
  margin-block-start: 1rem;
  left: 50px;
}
section:nth-of-type(2) .container .circle:nth-of-type(4) {
  position: relative;
  width: 200px;
  margin-inline-start: 3.3rem;
  margin-block-start: -20rem;
  left: 50px;
}
